/* Root Styling */
:root {
    /* Colours */
    --primary-colour: #FF6F61;
    --secondary-colour: #8AB49C;
    --neutral-colour: #FFF5E1;
    --accent-colour: #D35400;
    --dark-colour: #333333;

    /* Fonts */
    --primary-font: 'Raleway', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;

    /* Font Sizes */
    --font-size-base: 16px;
    --font-size-small: 14px;
    --font-size-large: 18px;
    --font-size-xlarge: 24px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--secondary-font);
    background-color: var(--neutral-colour);
    color: var(--dark-colour);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    flex: 1 0 auto;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--primary-font);
    color: var(--dark-colour);
}

a {
    color: var(--accent-colour);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-colour);
}

/* Buttons */
.button-primary {
    background-color: var(--primary-colour);
    color: var (--neutral-colour);
    font-family: var(--primary-font);
    font-weight: bold;
}

.button-secondary {
    background-color: var(--secondary-colour);
    color: var(--neutral-colour);
    font-family: var(--primary-font);
}

.button-primary:hover,
.button-secondary:hover {
    background-color: var(--secondary-colour);
}

.btn-small {
    background-color: var(--accent-colour);
    margin-bottom: 25px;
}
.btn-small:hover {
    color: var(--dark-colour);
    font-weight: bold;
}

.remove-ingredient-btn {
    background-color: red;
    border-radius: 50%;
    color: var(--neutral-colour);
    font-weight: bold;
}

.remove-ingredient-btn:hover {
    background-color: rgb(121, 5, 5);
}

.remove-ingredient-div {
    display: flex;
    align-items: center;
}

.header,
.footer {
    background-color: var(--dark-colour);
    color: var(--neutral-colour);
    font-family: var(--primary-font);
}

.card-panel {
    background-color: var(--neutral-colour);
    border: 1px solid var(--secondary-colour);
    border-radius: 5px;
    color: var (--dark-colour);
}

.card-title {
    font-family: var(--primary-font);
    font-size: var(--font-size-large);
}

.icon {
    color: var(--accent-colour);
}

.text-primary {
    color: var(--primary-colour);
}

.text-secondary {
    color: var(--secondary-colour);
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.container {
    background-color: var(--secondary-colour);
    border-radius: 5px;
    overflow-x: hidden;
    padding: 0 15px;
    box-sizing: border-box;
}

/* Nav Styling */
nav {
    background-color: var(--primary-colour);
    padding: 1em;
    width: 100%;
    overflow-x: hidden;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    margin-right: 1em;
}

nav ul li a {
    color: var(--dark-colour);
    text-decoration: none;
    font-family: var(--primary-font);
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--secondary-colour);
    background: transparent;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.brand-logo {
    font-family: var(--primary-font);
    font-weight: bold;
}

.sidenav {
    background-color: var(--secondary-colour);
}

.sidenav li h4 {
    font-family: var(--primary-font);
    font-weight: bold;
}

/* Hero  */
.hero-image {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1; 
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2; 
}

.hero-text p {
    font-size: 24px;
    margin-bottom: 8px;
}

.hero-text h1 {
    font-size: 48px;
    font-family: var(--primary-font);
    font-weight: bold;
    margin-bottom: 16px;
}

.hero-text h2 {
    font-size: 32px;
    font-weight: 500;
    font-family: var(--primary-font);
    margin-bottom: 0;
    font-style: italic;
}

.hero-text .divider {
    border: none;
    border-radius: 25%;
    height: 4px; 
    width: 80px; 
    background-color: var(--accent-colour);
    margin: 20px auto;
}

.flashes h4 {
    line-height: 2;
    font-family: var(--primary-font);
    text-align: center;
    background-color: var(--dark-colour);
}
.red-text {
    color: red;
}

.green-text {
    color: green;
}

.collapsible-header {
    margin: 5px;
    line-height: 42px;
    background-color: var(--secondary-colour);
    font-family: var(--primary-font);
    color: var(--dark-colour);
    font-size: var(--font-size-large);
    font-weight: bold;
}

/* Profile Styling */
.profile-image {
    width: 100px;
    height: 100px;
}
/* Admin main content starts below the admin navbar */
.admin-nav {
    background-color: var(--secondary-colour);
    color: var(--accent-colour)
}

.admin-main-content {
    margin-top: 64px; 
}

.nav-link a:hover {
    color: var(--accent-colour)
}

fieldset {
    border: 1px solid var(--accent-colour);
    padding: 1rem;
    border-radius: 5px;
}

/* Responsive adjustments */
@media screen and (max-width: 992px) {
    .nav-content {
        padding: 10px 0; 
    }
}

.text-highlight {
    font-family: var(--primary-font);
    color: var(--dark-colour);
}

.warning {
    background-color: yellow;
    color: red;
    font-weight: bolder;
    padding: 5px;
}

.highlight {
    background-color: var(--secondary-colour);
    font-family: var(--primary-font);
    color: var(--dark-colour);
    padding: 15px;
}

.modal {
    background-color: var(--secondary-colour);
}

.modal .helper-text {
    color: red;
}

.modal .modal-footer {
    background-color: var(--dark-colour);
}
