/*  Root Styling */
:root {
    /* Colours */
    --primary-colour: #FF6F61;
    --secondary-colour: #8AB49C;
    --neutral-colour: #FFF5E1;
    --accent-colour: #D35400;
    --dark-colour: #333333;

    /* Fonts */
    --primary-font: 'Raleway', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;

    /* Font Sizes */
    --font-size-base: 16px;
    --font-size-small: 14px;
    --font-size-large: 18px;
    --font-size-xlarge: 24px;
}

body {
    font-family: var(--secondary-font);
    background-color: var(--neutral-colour);
    color: var(--dark-colour);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--primary-font);
    color: var(--dark-colour);
}

a {
    color: var(--accent-colour);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-colour);
}

.button-primary {
    background-color: var(--primary-colour);
    color: var(--neutral-colour);
    font-family: var(--primary-font);
    font-weight: bold;
}

.button-secondary {
    background-color: var(--secondary-colour);
    color: var(--neutral-colour);
    font-family: var(--primary-font);
}

.button-primary:hover,
.button-secondary:hover {
    background-color: var(--secondary-colour);
}

.btn-small {
    margin: 5px;
}

.header,
.footer {
    background-color: var(--dark-colour);
    color: var(--neutral-colour);
    font-family: var(--primary-font);
}

.card-panel {
    background-color: var(--neutral-colour);
    border: 1px solid var(--secondary-colour);
    color: var(--dark-colour);
}

.icon {
    color: var(--accent-colour);
}

.text-primary {
    color: var(--primary-colour);
}

.text-secondary {
    color: var(--secondary-colour);
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* Nav Styling */
nav {
    background-color: var(--primary-colour);
    padding: 1em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 1em;
}

nav ul li a {
    color: var(--neutral-colour);
    text-decoration: none;
    font-family: var(--primary-font);
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--secondary-colour);
}

.brand-logo {
    font-family: var(--primary-font);
    font-weight: bold;
}

.sidenav {
    background-color: var(--secondary-colour);
}

.sidenav li h4 {
    font-family: var(--primary-font);
    font-weight: bold;
}

/* Register Page */
/* label focus color */
.input-field input:focus+label {
    color: red !important;
}

/* label underline focus color */
.row .input-field input:focus {
    border-bottom: 1px solid red !important;
    box-shadow: 0 1px 0 0 red !important
}

.flashes h4 {
    line-height: 2;
    font-family: var(--primary-font);
    color: var(--accent-colour);
    text-align: center;
}

.collapsible-header {
    margin : 5px;
    line-height: 42px;
    background-color: var(--secondary-colour);
    font-family: var(--primary-font);
    color: var(--dark-colour);
    font-size: var(--font-size-large);
    font-weight: bold;
}