<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page Not Found | AiryBites</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>

<body>
    <main>
        <div class="container">
            <div class="hero-image">
                <img src="{{ url_for('static', filename='images/404-image.png') }}" alt="Image of Air Fryer"
                    width="100%">
                <div class="hero-overlay"></div>
                <div class="hero-text">
                    <h1 class="text-primary">Oops! Page Not Found</h1>
                    <hr class="divider">
                    <h3 class="text-secondary">The recipe you are looking for seems to have flown away.</h3>
                    <br><br>
                    <a href="{{ url_for('get_recipes') }}" class="btn-large btn">Go Back to AiryBites</a>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <p>&copy; AiryBites 2024 - Project by: Taher - Code Institute</p>
    </footer>
    
</body>

</html>