{% extends "base.html" %}

{% block title %}
Admin Panel
{% endblock %}

{% block content %}
<div class="row">
    <!-- Admin Navbar -->
    <div class="col s3">
        <ul id="admin-nav" class="collection">
            <li class="" ><h5 class="brand-logo">Admin Panel</h3></li>
            <li class="collection-item"><a href="#">Manage Recipes</a></li>
            <li class="collection-item"><a href="{{ url_for('user_roles') }}">Manage Users</a></li>
            <li class="collection-item"><a href="#">User Roles</a></li>
            <li class="collection-item"><a href="#">User Activity</a></li>
        </ul>
    </div>

    <!-- Admin Content Block -->
    <div class="col s9">
        {% block admin_content %}

        <!-- default message -->

            <h3 class="brand-logo center-align">Admin Panel</h3>
            <p>Please select an option from the left admin navbar!</p>
        {% endblock %}
    </div>
</div>
{% endblock %}

