{% extends "admin_panel.html" %}

{% block title %}Manage Categories{% endblock %}

{% block admin_content %}
<div class="container">
    <div class="heading">
        <h2>Manage Categories</h2>
        <div class="description">
            <p>Here you can manage the categories for the recipes. Use the interface below to add, edit,
                or delete categories as needed.</p>
            <p class="text-highlight"><strong class="warning">WARNING:</strong>
                Managing categories affects the organisation and accessibility of the site's content.
                Ensure that changes are intentional and well-considered. Improper category management can
                lead to content being difficult to find or categorise, negatively impacting user experience
                and site navigation.
            </p>
        </div>
        <div>
            <!-- Button Triggering Modal -->
            <a class="waves-effect waves-light btn modal-trigger" href="#add-category-modal">Add New Category</a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <table class="striped">
                <thead>
                    <tr>
                        <th>Category Name</th>
                        <th>Number of Recipes</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                    <tr>
                        <td>{{ category.category_name }}</td>
                        <td>{{ category.recipe_count }}</td>
                        <td>
                            <a href="#" class="btn-small">Edit</a>
                            <a href="#" class="btn-small red">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<aside id="add-category-modal" class="modal">
    <div class="modal-content">
        <h4>Add New Category</h4>
        <form id="add-category-form" action="{{ url_for('add_category') }}" method="POST">
            <div class="input-field">
                <input id="category_name" type="text" name="category_name" class="validate" required>
                <label for="category_name">Category Name</label>
            </div>
            <div class="modal-footer">
                <button type="submit" class="waves-effect waves-green btn">Add Category</button>
                <a href="#!" class="modal-close waves-effect waves-red btn-flat">Close</a>
            </div>
        </form>
    </div>
</aside>


{% endblock %}