{% extends "base.html" %}
{% block content %}

<ul class="collapsible">
    {% for recipe in recipes %}
    <li>
        <div class="collapsible-header">
            <div class="col s3">
                <i class="fas fa-caret-down icon"></i>
                {% if session.user|lower == recipe.created_by|lower %}
                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small">Delete</a>
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small">Edit</a>
                {% endif %}
            </div>
            <div class="col s9">
                <h4>{{ recipe.recipe_title }}</h4>
                <p class="right-align"><strong>Category:</strong> {{ recipe.category }}</p>                
            </div>
        </div>
        <div class="collapsible-body">
            <p><strong>Description:</strong> {{ recipe.recipe_description }}</p>
            <p><strong>Posted on:</strong> {{ recipe.created_at }}</p>
            <p><strong>Cook Time:</strong> {{ recipe.cook_time }}</p>
            <p><strong>Prep Time:</strong> {{ recipe.prep_time }}</p>
            <p><strong>Total Time:</strong> {{ recipe.total_time }}</p>
            <p><strong>Servings:</strong> {{ recipe.servings }}</p>
            <h3>Ingredients</h3>
            <ul>
                {% for ingredient_ref in recipe.ingredients %}
                <li><strong>{{ get_ingredient_name(ingredient_ref.ingredient_id) }}</strong> - <em>{{ ingredient_ref.quantity }} </em></li>
                {% endfor %}
            </ul>
            <h3>Instructions</h3>
            <ol>
                {% for instruction in recipe.instructions %}
                <li>{{ instruction }}</li>
                {% endfor %}
            </ol>
            <p>Created by: {{ recipe.created_by }}</p>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}
