{% extends "base.html"%}
{% block content %}



<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel">
            <!-- Username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-plus prefix icon"></i>
                    <input id="username" name="username" type="text" minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <!-- Password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-lock prefix icon"></i>
                    <input id="password" name="password" type="password" minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- Confirm Password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-lock prefix icon"></i>
                    <input id="confirm_password" name="confirm_password" type="password" minlength="5"
                           maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="confirm_password">Confirm Password</label>
                </div>
            </div>
            <!-- Register Button -->
            <div class="row">
                <button type="submit" class="col s8 offset-m2 btn-large button-primary text-shadow ">
                    Register <i class="fas fa-sign-in-alt icon"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}